* {
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
button, input {
    background: none;
    border: none;
    cursor:pointer;
}
button:focus, input:focus {
    outline: none;
}
.wrapper {
    max-width: 1170px;
    margin: 0 auto;
}