.footer {
    background: #3B3B3B;
    padding: 20px 0;
}

.footer__blocks {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    border-bottom: 1px solid #858584;
    gap: 30px;
    padding: 20px;
}

.footer__block {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.footer__block__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px 0 0 0;
}

.footer__block__links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 15px 0 0 0;
}

.footer__list {
    display: inline-flex;
    gap: 10px;
}

.footer__block__title {
    font: 700 1.375em 'Space Mono';
    color: white;
}

.footer__text {
    font: 400 1em 'Work Sans';
    color: #CCCCCC;
}

.footer__subsc-form {
    display: flex;
}

.footer__subsc-form__input {
    padding: 16px 49% 16px 16px;
    width: 100%;
    border-radius: 20px;
    background-color: white;
    font: 400 1em 'Work Sans';
    color: #2B2B2B;
    box-sizing: border-box;
}

.footer__subsc-form__button {
    width: 48%;
    padding: 16px 50px;
    margin-left: -48%;
    font: 600 1em 'Work Sans';
}

.footer__underline {
    padding: 20px 0;
}

.footer__text_underline {
    font-size: 0.75em;
}
