
/* Header */

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    position: relative;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.menu__link {
    font: 600 1em 'Work Sans';
    text-align: center;
    color: white;
    line-height: 100%;
    padding: 0 20px;
}

.menu__button {
    padding: 20px 30px;
}

.header__menu-switch {
    display: none;
    cursor: pointer;
}

.menu-switch__icon {
    max-width: 100%;
    height: auto;
}