
/* Header */

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
}

.header__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo__icon {
    display: inline-block;
    max-width: 80%;
    height: auto;
}

.logo__text {
    display: inline-block;
    max-width: 80%;
    height: auto;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.menu__link {
    font: 600 1em 'Work Sans';
    color: white;
    padding: 0 20px;
}

.menu__button {
    padding: 20px 25px;
}

.header__menu-switch {
    display: none;
    cursor: pointer;
}

.menu-switch__icon {
    max-width: 100%;
    height: auto;
}