@media screen and (max-width: 475px){
    .banner {
        flex-direction: column;
    }

    .banner__desc {
        align-items: center;
    }

    .desc__title {
        font: 600 1.75em 'Work Sans';
        color: white;
    }

    .desc__button {
        width: 100%;
    }

    .banner__item {
        grid-area: 3 / 1 / 3 / 1
    }

    .banner__collection:nth-child(n+2) {
        display: none;
    }

    .creators__list {
        grid-column: 1 / 1;
        grid-template-columns: auto;
    }

    .creators__button-block {
        grid-area: 3 / 1 / 3 / 1;
        align-items: stretch;
    }

}