@media screen and (max-width: 475px) {
    .footer__subsc-form {
        flex-direction: column;
        gap: 20px;
        align-items: stretch;
        border-radius: 0;
        background:none;
    }

    .footer__subsc-form__input {
        padding: 16px;
        border-radius: 20px;
        background-color: white;
    }
    
    .footer__subsc-form__button {
        width: 100%;
        margin-left: 0;
    }
}