@media screen and (max-width: 1024px) {

    .desc__title {
        font: 600 2.375em 'Work Sans';
        color: white;
    }
    
    .desc__text {
        font: 400 1em 'Work Sans';
        color: white;
        line-height: 170%;
    }

    .stat-info__heading {
        font: 700 1.375em 'Space Mono';
        color: white;
    }
    .stat-info__text {
        font: 400 1em 'Work Sans';
        color: white;
    }

    .collections__heading {
        margin: 0 0 40px 0; 
    }

    .collections__title {
        font-size: 1.75em;
    }

    .collections__subtitle {
        font-size: 1em;
    }

    .banner__collection:nth-child(n+3) {
        display: none;
    }

    .creators__title {
        font-size: 1.75em;
    }
    
    .creators__subtext {
        font-size: 1em;
    }

    .creators__list {
        grid-template-columns: auto auto;
    }

    .creators__card {
        flex-direction: row;
        flex-grow: 0;
        flex-shrink: 0;
    }

    .creators__card:nth-child(n+7) {
        display: none;
    }

    .creator__info {
        align-items: flex-start;
        margin: 0 0 0 20px;
    }

    .creator__number {
        top: 15%;
        left: 5%;
        font-size: 0.8em;
    }

    .creator__avatar {
        max-width: 20%;
    }

    .categories__title {
        font-size: 1.75em;
    }

    .nfts__title {
        font-size: 1.75em;
    }
    
    .nfts__subtext {
        font-size: 1em;
    }

    .tip__title {
        font-size: 1em;
    }

    .tip__text {
        font-size: 0.75em;
    }

    .widget__title {
        font-size: 1.75em;
    }
    
    .widget__text {
        font-size: 1em;
    }

    .subsc-form {
        flex-direction: column;
        gap: 20px;
        align-items: stretch;
    }

    .subsc-form__input {
        padding: 16px;
    }
    
    .subsc-form__button {
        width: 100%;
        margin-left: 0;
    }
    

}