@media screen and (max-width: 1024px) {

    .desc__title {
        font: 600 2.375em 'Work Sans';
        color: white;
    }
    
    .desc__text {
        font: 400 1em 'Work Sans';
        color: white;
        line-height: 170%;
    }

    .stat-info__heading {
        font: 700 1.375em 'Space Mono';
        color: white;
    }
    .stat-info__text {
        font: 400 1em 'Work Sans';
        color: white;
    }

    .collections-banner {
        padding: 40px 10px;
    }

    .collections__title {
        font-size: 1.75em;
    }

    .collections__subtitle {
        font-size: 1em;
    }
    
    .collections__list {
        margin-top: 40px;
    }
    

    .banner__collection:nth-child(n+3) {
        display: none;
    }

    .creators-banner {
        padding: 40px 10px;
    }

    .creators__title {
        font-size: 1.75em;
    }
    
    .creators__subtext {
        font-size: 1em;
    }

    .creators__list {
        grid-template-columns: auto auto;
    }

    .creators__card {
        flex-direction: row;
        flex-grow: 0;
        flex-shrink: 0;
    }

    .creators__card:nth-child(n+7) {
        display: none;
    }

    .creator__info {
        align-self: stretch;
        justify-content: space-around;
        align-items: flex-start;
        margin: 0 0 0 20px;
    }

    .creator__number {
        top: 15%;
        left: 5%;
        font-size: 0.8em;
    }

    .creator__avatar {
        max-width: 20%;
    }

    .categories-banner {
        padding: 40px 10px;
    }

    .categories__title {
        font-size: 1.75em;
    }

    .nfts-banner {
        padding: 40px 10px 80px;
    }

    .nfts__title {
        font-size: 1.75em;
    }
    
    .nfts__subtext {
        font-size: 1em;
    }

    .tips-banner {
        padding: 40px 10px;
    }

    .tip__title {
        font-size: 1em;
    }

    .tip__text {
        font-size: 0.75em;
    }

    .widget__block {
        gap: 30px;
        padding: 40px;
    }

    .widget__title {
        font-size: 1.75em;
    }
    
    .widget__text {
        font-size: 1em;
    }

    

}