@media screen and (max-width: 1024px) {
    .footer__blocks {
        flex-direction: column;
        padding-bottom: 50px;
        align-items: stretch;
    }

    .footer__subsc-form {
        flex-direction: row;
        gap: 0;
        border-radius: 20px;
        background-color: white;
    }

    .footer__subsc-form__input {
        padding: 16px;
        font: 400 1em 'Work Sans';
        color: #2B2B2B;
        box-sizing: border-box;
    }
    
    .footer__subsc-form__button {
        width: 48%;
        padding: 16px 50px;
        margin-left: -48%;
        font: 600 1em 'Work Sans';
    }

}