@media screen and (max-width: 470px) {

    .header__banner, .banner__button-block  {
        flex-direction: column;
        align-items: center;
    }

    .banner__text__down, .banner__text-add { text-align:center; }

    .form__block {margin:none;}


}