@media screen and (max-width: 900px) {

    .menu__tabs {
       flex-direction: column;
       display: none;
    }
    .header__number { display: none; }
    .header__button { display: none; }

    .media-header__button {
        display: block;
        color: white;
    }
    
    .banner__text__up {
        font-size: 45px;
    }
    .banner__text__down {
        font-size: 21px;
    }
    .banner__button-block {
        flex-wrap: wrap;
    }

}